body {
    background-color:pink
}

@font-face{
    font-family: pokemon_generation_1;
    src: url(fonts/pokemon_generation_1.ttf);
}

*{
    font-family: pokemon_generation_1;
}

#navigation{
    background-color: white;
    width:30%;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navigation a{
    color:pink
    
}

#navigation a:hover{
    color: rgba(255, 192, 203, 0.185);
} 

body{
    background-image: url('images/background_gradient.png');
}

.header{
    background-color: rgba(255, 192, 203, 0);
    width: 70%;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image{
    width:30%;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    /* background-color: rgba(255, 255, 255, 0.144); */
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu{
    background-color: white;
    width:30%;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#h2{
    background-color: white;
    width:30%;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu a{
    color:pink
    
}

#menu a:hover{
    color: rgba(255, 192, 203, 0.185);
} 

#menuitem1{    
    background-color: white;
    width:30%;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: space-evenly;
}

#menuitem2{    
    background-color: white;
    width:30%;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: space-evenly;
}

/* #menuitem2content{
    background-color: white;
    width:30%;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: space-evenly;
} */


#menuitem3{    
    background-color: white;
    width:30%;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: space-evenly;
}

#to_top{
    height: 100px;
    border: 5px;
    margin-top:40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer{
    /* position: fixed; */
    /* width: 100%; */
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: center;
    align-items: center;
}

